{% if productsList %}
{% else %}
  {% set productsList = [
      {
        labels: [
          {
            text: 'Новинка',
            mod: 'red'
          },
          {
            text: 'Акция',
            mod: 'orange'
          }
        ],
        img: 'products-item-1.jpg',
        title: 'Сливочный лосось',
        text: 'Соус цезарь, лосось терияки, маслины, сыр 
        творожный,  сыр моцарелла, соус терияки, кунжут.',
        weight: '350 гр.',
        cost: '359 ₽',
      },
      {
        labels: [
          {
            text: 'Новинка',
            mod: 'red'
          },
          {
            text: 'Акция',
            mod: 'orange'
          }
        ],
        img: 'products-item-1.jpg',
        title: 'Сливочный лосось',
        text: 'Соус цезарь, лосось терияки, маслины, сыр 
        творожный,  сыр моцарелла, соус терияки, кунжут.',
        weight: '350 гр.',
        cost: '359 ₽',
      },
      {
        labels: [
          {
            text: 'Новинка',
            mod: 'red'
          },
          {
            text: 'Акция',
            mod: 'orange'
          }
        ],
        img: 'products-item-1.jpg',
        title: 'Сливочный лосось',
        text: 'Соус цезарь, лосось терияки, маслины, сыр 
        творожный,  сыр моцарелла, соус терияки, кунжут.',
        weight: '350 гр.',
        cost: '359 ₽',
      },
      {
        labels: [
          {
            text: 'Новинка',
            mod: 'red'
          },
          {
            text: 'Акция',
            mod: 'orange'
          }
        ],
        img: 'products-item-1.jpg',
        title: 'Сливочный лосось',
        text: 'Соус цезарь, лосось терияки, маслины, сыр 
        творожный,  сыр моцарелла, соус терияки, кунжут.',
        weight: '350 гр.',
        cost: '359 ₽',
      },
      {
        labels: [
          {
            text: 'Новинка',
            mod: 'red'
          },
          {
            text: 'Акция',
            mod: 'orange'
          }
        ],
        img: 'products-item-1.jpg',
        title: 'Сливочный лосось',
        text: 'Соус цезарь, лосось терияки, маслины, сыр 
        творожный,  сыр моцарелла, соус терияки, кунжут.',
        weight: '350 гр.',
        cost: '359 ₽',
      },
      {
        labels: [
          {
            text: 'Новинка',
            mod: 'red'
          },
          {
            text: 'Акция',
            mod: 'orange'
          }
        ],
        img: 'products-item-1.jpg',
        title: 'Сливочный лосось',
        text: 'Соус цезарь, лосось терияки, маслины, сыр 
        творожный,  сыр моцарелла, соус терияки, кунжут.',
        weight: '350 гр.',
        cost: '359 ₽',
      },
      {
        labels: [
          {
            text: 'Новинка',
            mod: 'red'
          },
          {
            text: 'Акция',
            mod: 'orange'
          }
        ],
        img: 'products-item-1.jpg',
        title: 'Сливочный лосось',
        text: 'Соус цезарь, лосось терияки, маслины, сыр 
        творожный,  сыр моцарелла, соус терияки, кунжут.',
        weight: '350 гр.',
        cost: '359 ₽',
      },
      {
        labels: [
          {
            text: 'Новинка',
            mod: 'red'
          },
          {
            text: 'Акция',
            mod: 'orange'
          }
        ],
        img: 'products-item-1.jpg',
        title: 'Сливочный лосось',
        text: 'Соус цезарь, лосось терияки, маслины, сыр 
        творожный,  сыр моцарелла, соус терияки, кунжут.',
        weight: '350 гр.',
        cost: '359 ₽',
      },
      {
        labels: [
          {
            text: 'Новинка',
            mod: 'red'
          },
          {
            text: 'Акция',
            mod: 'orange'
          }
        ],
        img: 'products-item-1.jpg',
        title: 'Сливочный лосось',
        text: 'Соус цезарь, лосось терияки, маслины, сыр 
        творожный,  сыр моцарелла, соус терияки, кунжут.',
        weight: '350 гр.',
        cost: '359 ₽',
      },
      {
        labels: [
          {
            text: 'Новинка',
            mod: 'red'
          },
          {
            text: 'Акция',
            mod: 'orange'
          }
        ],
        img: 'products-item-1.jpg',
        title: 'Сливочный лосось',
        text: 'Соус цезарь, лосось терияки, маслины, сыр 
        творожный,  сыр моцарелла, соус терияки, кунжут.',
        weight: '350 гр.',
        cost: '359 ₽',
      },
      {
        labels: [
          {
            text: 'Новинка',
            mod: 'red'
          },
          {
            text: 'Акция',
            mod: 'orange'
          }
        ],
        img: 'products-item-1.jpg',
        title: 'Сливочный лосось',
        text: 'Соус цезарь, лосось терияки, маслины, сыр 
        творожный,  сыр моцарелла, соус терияки, кунжут.',
        weight: '350 гр.',
        cost: '359 ₽',
      },
      {
        labels: [
          {
            text: 'Новинка',
            mod: 'red'
          },
          {
            text: 'Акция',
            mod: 'orange'
          }
        ],
        img: 'products-item-1.jpg',
        title: 'Сливочный лосось',
        text: 'Соус цезарь, лосось терияки, маслины, сыр 
        творожный,  сыр моцарелла, соус терияки, кунжут.',
        weight: '350 гр.',
        cost: '359 ₽',
      },
    ] %}
{% endif %}

<div class="products wrapper-product">
  <div class="container">
    {% include "../title.twig" with {
      text: title,
      titleMod: 'products__title-main'
    } %}
    <ul class="products__list">
      {% for item in productsList %}
        <li class="products__item">
          <div class="products__wrapper">
            <div class="products__image">
              <img src="./assets/img/content/{{item.img}}" alt="{{item.alt}}">
            </div>
            
            <div class="products__content">
              <div class="products__title">
                {{item.title}}
              </div>
              <div class="products__text">
                {{item.text}}
              </div>
            </div>

            <div class="products__bottom">
              <div class="products__cost">
                {{item.cost}}
              </div>
              <div class="products__weight">
                {{item.weight}}
              </div>
              {% include "../btn.twig" with {
                text: 'Выбрать',
                btnMod: 'products__btn',
              } %}
            </div>

            {% if item.labels %}
              <ul class="products__label-list">
                {% for item in item.labels %}
                  <li class="products__label-item products__label-item--{{item.mod|default("orange")}}">
                    <div class="products__label-elem">
                      {{item.text}}
                    </div>
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>